.App {
  text-align: center;
}

header {
  padding-top: 100px;
}

form {
  display:flex;
  justify-content: center;
}

form .todo-input {
  display:flex;
}

div .todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

li {
  list-style-type: none;
  display: flex;
  align-self: center;
  margin-right: 20px;
}

.completed {
  text-decoration: line-through;
  color:grey;
}